<style type="text/css">
	.affix-top{
		background-color: #1c1d21; 
	}
</style>

 <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">

                    <h2 class="section-heading">About Us</h2>
                </div>
            </div>
            <div class="row text-center">
                <p class="textfont">
                    We at BumperWash strive to deliver the best car for your cars, everyday. BumperWash was started by 3 car enthusiasts from Bangalore. Mechanical Engineers by qualification and Car Enthusiasts by heart, being driven with the passion for perfection, we were always dismayed with the lack of professional care received by our prized automobiles at wash stations, or by our washermen. Personally caring for our cars and bikes on a daily basis proved to be a herculean task amidst everyday hustle. And thus, the idea of BumperWash was born.
                </p>
            </div>
        </div>
    </section>

    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">

                    <h2 class="section-heading">Vision</h2>
                </div>
            </div>
            <p class="textfont">
            	BumperWash aims to disrupt the car wash industry by offering showroom quality automobile wash at your doorstep, on a daily basis. We believe it is the right of every vehicle owner to have  their vehicle is in the best condition everyday, throughout the life of the vehicle.
            </p>

        </div>
    </section>

    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">

                    <h2 class="section-heading">Mission</h2>
                </div>
            </div>
            <p class="textfont">
            	BumperWash strives to formalise and regularise the local car wash industry, employ hyperlocal labor to offer professional car wash service on a daily basis, while ensuring utmost cleaning standards. We aspire to accomplish this while ensuring complete transparency while offering the best price in the market.
            </p>

        </div>
    </section>


    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">

                    <h2 class="section-heading">Our Team</h2>
                </div>
            </div>
            <div class="row" style="margin-bottom: 50px;">
                <div class="col-sm-3">
                    <div class="card">
                        <img src="assets/images/govind1.jpg" alt="Sanjay_img" style="width:100%">
                        <h4 style="text-align: center;">Govind Shenoy</h4>
                        <p class="title" style="text-align: center;">Co-founder</p>
                         
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card" >
                        <img src="assets/images/pranith.jpg" alt="Hari_img" style="width:100%">
                        <h4 style="text-align: center;">Pranith C Prasanna</h4>
                        <p class="title" style="text-align: center;">Co-founder & CCC</p>
                         
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card" >
                        <img src="assets/images/tarun.jpg" alt="Purvendra_img" style="width:100%">
                        <h4 style="text-align: center;">Tarun Kasa</h4>
                        <p class="title" style="text-align: center;">Co-founder</p>
                         
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card" >
                        <img src="assets/images/kushal.jpg" alt="Prince_img" style="width:100%">
                        <h4 style="text-align: center;">Kushal K</h4>
                        <p class="title" style="text-align: center;">CTO</p>
                         
                    </div>
                </div>
            </div>

        </div>
    </section>